{% extends "./base.html" %}
{% load static %}
{% comment %} {% block title %}Ayush Store{% endblock %} {% endcomment %}
{% block content %}


<main>

  <section class="py-5 text-center container" style="background-image: url('media/images/aaa.jpg'); background-size: cover; ">
    <div class="row py-lg-3">
      <div class="col-lg-5 col-md-8 mx-auto">
        <p class="lead"><b>"For effortless style, shop our latest arrivals at Ayush Store. From everyday essentials to standout pieces, we've got you covered. Explore, shop, and elevate your wardrobe with us today."</b></p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light" style="background-image: url('media/images/716e16f0421b2f3192fb2570a7ee9780.jpg'); background-size: cover; ">
    <div class="container">

      <div class="pb-3 h5">All products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}" >
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}